In [3]:
import random
import pandas as pd
import names
import string 

def get_num():
    if random.randint(0, 4) <= 1:
        return random.randint(1,5)
    else:
        return 0
    
def get_random_string(length):
    letters = string.ascii_lowercase
    result_str = ''.join(random.choice(letters) for i in range(length))
    return result_str

d = {"name":[], "id":[], "pass":[], "country":[], "age":[]}

values = ['Autonomy', 'Transparency', 'Diversity', 'Utility', 'Privacy']

for val in values:
    d[val] = []
    
countries = ['Europe', 'Asia', 'Africa', 'North America', 'South America', 'Australia']


num_users = 10
for i in range(0, num_users):
    d["name"].append(names.get_full_name().split()[1])
    d["pass"].append(get_random_string(10))
    age = random.randint(8, 100)
    d["age"].append(age)
    d["id"].append(i)
    d["country"].append(countries[random.randint(0, len(countries) - 1)])
    for val in values:
        d[val].append(random.randint(0, 1))

d = pd.DataFrame(d)
d.to_csv("data/users.csv", index = False)

data = {}
for u in d.id.values:
    data[str(u)] = []
    
movies = pd.read_csv("data/bbc_trimmed.csv")

for key in data:
    for m in movies.title.values:
        data[key].append(get_num())
data["title"] = movies.title.values
data["description"] = movies.synops_long.values
data["date"] = movies.release_date.values
data["category"] = movies.category.values
data["image"] = movies.image.values

pd.DataFrame(data).to_csv("data/watched_data.csv", index = False)

In [2]:
import pandas as pd
t = pd.read_csv("data/watched_data.csv")
t.iloc[:, 0:10]

       0  1  2  3  4  5  6  7  8  9
0      0  3  3  0  0  0  0  5  0  0
1      0  1  0  0  0  0  0  0  2  3
2      0  0  5  1  0  0  5  0  2  0
3      0  0  0  2  5  1  0  0  0  0
4      0  0  1  5  0  4  0  0  0  5
...   .. .. .. .. .. .. .. .. .. ..
16801  0  2  1  4  3  2  0  0  3  0
16802  1  0  0  1  1  0  0  5  0  1
16803  0  0  2  0  0  0  0  0  0  0
16804  0  0  0  0  0  1  2  0  4  5
16805  0  0  4  1  3  0  2  0  0  0

[16806 rows x 10 columns]